@import "./../../sass//abstracts/variables";

@import "./../../sass/abstracts/mixins";

.sectionAbout {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  @include respond(tad-port) {
  padding: 25rem 0;

  }
}


.composition {
  position: relative;
  &Photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    @include respond(tad-port) {
      position: relative;
      width: 33.333%;
      float: left;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }
    &1 {
      left: 0;
      top: -2rem;
      @include respond(tad-port) {
        top: 0;
        transform: scale(1.2);
      }
    }
    &2 {
      right: 0;
      top: 2rem;
      @include respond(tad-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 400;
        
      }
    }
    &3 {
      left: 20%;
      top: 10rem;
      @include respond(tad-port) {
        top: 0;
        left: 0;
        transform: scale(1.3);

      }
    }
    &:hover {
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
      z-index: 11;
      outline: 1.5rem solid $color-primary;
    }
  }
  &:hover &Photo:not(:hover) {
    transform: scale(0.95);
  }
}
