@mixin clearFix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin background {
  
    float: left;
    &:not(:last-child) {
        margin-right: $gutter-horizontal;
    }
}