@import "../../sass/abstracts/variables";
@import "../../sass/base/animations";
@import "../../sass/abstracts/mixins";


.featureSection {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../../../assets/img/nat-4.jpg);
    background-size: cover;
    background-position: center;

    transform: skewY(-7deg);
    margin-top: -9rem;

    &>* {
        transform: skewY(7deg);
    }
    @include respond(tad-port) {
        padding: 10rem 0;
      
        }
}

.featureBox {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    text-align: center;
    transition: all 0.3s;
    @include respond(tad-port) {
        padding: 2rem 0;
      
        }
    &Icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        background-image: linear-gradient(to right,
                $color-primary-light,
                $color-primary-dark );
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &Text {}
    
}